include AUTHORS
include LICENSE
include README.rst
recursive-include docs *
recursive-include tests *
recursive-include terrarium *
recursive-include requirements *.txt
prune tests/*.pyc
prune docs/*.pyc
prune terrarium/*.pyc
